body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profileName {
  margin: 1rem;
}

.profile {
  text-align: center;
  margin: 20px 0;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.editProfile {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editProfile form {
  display: flex;
  flex-direction: column;
}

.editProfile form input,
.editProfile form textarea,
.editProfile form button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editProfile form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.editProfile form button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .profile {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 0.5rem;
  }

  .profile p {
      margin: 0;
  }
}

.darkMode {
  background-color: #333;
  color: #f4f4f9;
}

.darkMode .editProfile {
  background-color: #444;
}

.darkMode .editProfile form input,
.darkMode .editProfile form textarea,
.darkMode .editProfile form button {
  background-color: #555;
  color: #f4f4f9;
  border: 1px solid #666;
}

.darkMode .editProfile form button {
  background-color: #007bff;
}
